
/*  Below is inclusive of all navbar background components. */
/*
.navbar  {
	background-color: blue;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover  {
	margin: 0 auto;
}   


.first-slide {
	background-color: white;
}

.carousel-inner > .item > img{
       width: 325px;
       height: 325px;
     }

.slider-size {
height: 300px;  This is your slider height 
}

.carousel { 	
	width: 80%; 
	height: 325px;
	margin: 50px auto;   
	background-color: white;
}

div.item, div.item-active {
	height: 325px;
}
